[init]
	defaultBranch = latest

[push]
	autoSetupRemote = true

[user]
	name = Fabian Weik
	email = fabian.weik@protonmail.com

[includeIf "hasconfig:remote.*.url:ssh://git@gitlab.mittwald.it:29418/*/**"]
	path = .gitconfig-work

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
