* {
    border-radius: 0;
    font-family: 'Noto Sans';
    font-size: 12pt;
    color: @text;
    min-height: 0;
}

window {
    background: transparent;
}

/* Workspaces */

#workspaces, #memory, #cpu, #temperature, #pulseaudio, #battery, #clock {
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

#workspaces {
    padding: 1px;
}

#memory, #cpu, #temperature, #pulseaudio, #battery, #clock {
    padding: 0 10px;
}


#clock {
    padding-right: 15px;
    margin-right: 5px;
    border-radius: 5px;
}

tooltip {
	background: #1e1e28;
	border-radius: 3px;
	border-width: 2px;
	border-style: solid;
	border-color: #a4b9ef;
}
