* {
    border-radius: 0;
    font-family: "BitstromWera Nerd Font Mono";
    font-size: 14pt;
    min-height: 0;
    color: white;
}

#waybar {
    margin: 0 5px;
}

window {
    background: transparent;
}

#workspaces,
#memory,
#cpu,
#temperature,
#pulseaudio,
#battery,
#clock {
    border-radius: 5px;
}

/* Workspaces */

#workspaces {
    margin: 5px 0 0 4px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button {
    border-radius: 3px;
    margin: 0 2px;
    padding: 5px 10px;
}

#workspaces button:not(.empty) {
    background-color: rgba(255, 255, 255, 0.3);
}

#workspaces button.active {
    background-color: rgba(115, 186, 37, 0.8);
}

#workspaces button.focused {
    background-color: rgba(115, 186, 37, 0.8);
}

#workspaces button.urgent {
    background-color: rgba(255, 0, 0, 0.8);
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.5);
}

/* All other widgets */

#memory,
#cpu,
#temperature,
#pulseaudio,
#battery,
#clock {
    margin: 5px 1px 0 1px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

#clock {
    margin-right: 5px;
}

tooltip {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
}
